[access "refs/for/*"]
	pushMerge = group Services Team
	forgeAuthor = group Services Team
	forgeCommitter = group Services Team
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Services Committers
	label-Verified = -1..+1 group Services Team
[access "refs/tags/*"]
	pushTag = group Services Committers
[access "refs/*"]
	owner = group Administrators
